/* ponte dos outros css */
@import url(header.css);
@import url(footer.css);
@import url(main.css);
@import url(reset.css);

:root {
  --green: #5C913B;
  --yellow: #FFA200;
  --red: #CF3031;
  --pink: #FFD4C9;

  --white: #FCFCFC;
  --white-200: #FEF6F4;
  --gray: #616161;
  --gray-200: #2E2E2E;

  --first-font: 'Sora', sans-serif;
}

body, button, a, textarea, ::placeholder {
  font-family: var(--first-font);
  color: var(--gray-200);
}